.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify_center {
    justify-content: center;
}

.items_center {
    align-items: center;
}

.bg_black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg_gray {
    background-color: #121212;
}

.rounded_border {
    border-radius: 7px;
}

.m1 {
    margin: 5px;
}

.p1 {
    padding: 5px;
}

.hover_scale:hover {
    transform: scale(1.1);
    cursor: pointer;
}